.main__body
  .main__body__header
    = link_to  do
      %h3 edit
    %h2 Sampleグループ
    %p member neo neko

  .messeges__body
    .messeges__body__list
      = render partial: 'shared/message', collection: messages
  .footer__body
    .footer__body--form
      .footer__body--form--text
        = form_for [@group, @message] do |f|
          = f.text_field :body, class: 'message', placeholder: 'type a message'
          .form__mask
            = f.label :image, class: 'form__mask__image' do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'submit'




